/*
Syntax error: Undefined variable: "$background-color".
        on line 8 of /Users/markpundsack/Documents/rails_projects/fleet_tracker/app/stylesheets/custom.scss

3: //.container {
4: //  width: 710px;
5: //}
6: 
7: body {
8:   background: $background-color;
9: }
10: 
11: #header {
12:   padding-top: 20px;
13:   margin-top: 1em;

Backtrace:
/Users/markpundsack/Documents/rails_projects/fleet_tracker/app/stylesheets/custom.scss:8
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/haml-3.0.18/lib/sass/script/variable.rb:39:in `_perform'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/haml-3.0.18/lib/sass/script/node.rb:61:in `perform'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/haml-3.0.18/lib/sass/tree/prop_node.rb:132:in `perform!'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/haml-3.0.18/lib/sass/tree/node.rb:305:in `_perform'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/haml-3.0.18/lib/sass/tree/node.rb:213:in `perform'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `block in perform_children'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `map'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `perform_children'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/haml-3.0.18/lib/sass/tree/node.rb:317:in `perform!'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/haml-3.0.18/lib/sass/tree/rule_node.rb:191:in `perform!'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/haml-3.0.18/lib/sass/tree/node.rb:305:in `_perform'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/haml-3.0.18/lib/sass/tree/node.rb:213:in `perform'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `block in perform_children'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `map'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `perform_children'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/haml-3.0.18/lib/sass/tree/node.rb:317:in `perform!'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/haml-3.0.18/lib/sass/tree/root_node.rb:59:in `perform!'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/haml-3.0.18/lib/sass/tree/node.rb:305:in `_perform'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/haml-3.0.18/lib/sass/tree/node.rb:213:in `perform'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/haml-3.0.18/lib/sass/tree/root_node.rb:37:in `perform'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/haml-3.0.18/lib/sass/tree/root_node.rb:29:in `render'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/haml-3.0.18/lib/sass/plugin.rb:220:in `update_stylesheet'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/haml-3.0.18/lib/sass/plugin.rb:85:in `block (2 levels) in update_stylesheets'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/haml-3.0.18/lib/sass/plugin.rb:78:in `each'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/haml-3.0.18/lib/sass/plugin.rb:78:in `block in update_stylesheets'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/haml-3.0.18/lib/sass/plugin.rb:76:in `each'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/haml-3.0.18/lib/sass/plugin.rb:76:in `update_stylesheets'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/haml-3.0.18/lib/sass/plugin.rb:50:in `check_for_updates'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/haml-3.0.18/lib/sass/plugin/rack.rb:40:in `call'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/actionpack-3.0.0/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/actionpack-3.0.0/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/rack-1.2.1/lib/rack/methodoverride.rb:24:in `call'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/actionpack-3.0.0/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/actionpack-3.0.0/lib/action_dispatch/middleware/flash.rb:182:in `call'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/actionpack-3.0.0/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/actionpack-3.0.0/lib/action_dispatch/middleware/cookies.rb:287:in `call'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/activerecord-3.0.0/lib/active_record/query_cache.rb:32:in `block in call'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/activerecord-3.0.0/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/activerecord-3.0.0/lib/active_record/query_cache.rb:12:in `cache'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/activerecord-3.0.0/lib/active_record/query_cache.rb:31:in `call'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/activerecord-3.0.0/lib/active_record/connection_adapters/abstract/connection_pool.rb:355:in `call'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/actionpack-3.0.0/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/activesupport-3.0.0/lib/active_support/callbacks.rb:415:in `_run_call_callbacks'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/actionpack-3.0.0/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/rack-1.2.1/lib/rack/sendfile.rb:107:in `call'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/actionpack-3.0.0/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/actionpack-3.0.0/lib/action_dispatch/middleware/show_exceptions.rb:46:in `call'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/railties-3.0.0/lib/rails/rack/logger.rb:13:in `call'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/rack-1.2.1/lib/rack/runtime.rb:17:in `call'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/activesupport-3.0.0/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/rack-1.2.1/lib/rack/lock.rb:11:in `block in call'
<internal:prelude>:10:in `synchronize'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/rack-1.2.1/lib/rack/lock.rb:11:in `call'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/actionpack-3.0.0/lib/action_dispatch/middleware/static.rb:30:in `call'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/railties-3.0.0/lib/rails/application.rb:168:in `call'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/railties-3.0.0/lib/rails/application.rb:77:in `method_missing'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/railties-3.0.0/lib/rails/rack/log_tailer.rb:14:in `call'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/rack-1.2.1/lib/rack/content_length.rb:13:in `call'
/Users/markpundsack/.rvm/gems/ruby-1.9.2-p0@rails3/gems/rack-1.2.1/lib/rack/handler/webrick.rb:52:in `service'
/Users/markpundsack/.rvm/rubies/ruby-1.9.2-p0/lib/ruby/1.9.1/webrick/httpserver.rb:111:in `service'
/Users/markpundsack/.rvm/rubies/ruby-1.9.2-p0/lib/ruby/1.9.1/webrick/httpserver.rb:70:in `run'
/Users/markpundsack/.rvm/rubies/ruby-1.9.2-p0/lib/ruby/1.9.1/webrick/server.rb:183:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$background-color\".\A         on line 8 of /Users/markpundsack/Documents/rails_projects/fleet_tracker/app/stylesheets/custom.scss\A \A 3: //.container {\A 4: //  width: 710px;\A 5: //}\A 6: \A 7: body {\A 8:   background: $background-color;\A 9: }\A 10: \A 11: #header {\A 12:   padding-top: 20px;\A 13:   margin-top: 1em;"; }
