.navigation.right.small
  = link_to "Purge", fleet_purge_path(@fleet) if @fleet.admin?(@current_user)
= section "Pilots"
- unless @fleet.users.empty?
  %table.section.pilots#pilots
    = render @fleet.users
