= request_trust if @request_trust == true
%h2 About
%p Eve Ranch's Fleet Tracker lets you track and visualize where the members of your fleet are during a roam, in text or map form. Keep track of your scouts, and watch out for stragglers. Scouts can add their recon reports directly as well.
