%tr.report{:data => {:time => "#{report.updated_at.to_i}", 
                     :id => "#{report.solar_system_name}"}}
  %td= report_in_words(report)
  %td= time_ago_in_words(report.updated_at) + " ago"